<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</Menu></title>
</head>
<body>
    <section>
        <h1>Educational Background</h1>
        <ul>
            <li>
                <strong>Level 9</strong> - Master's in FinTech
                <p>Lincoln University, New Zealand</p>
                <p>On going</p>
            </li>
            <li>
                <strong>Level 8</strong> - Certifate in Computer Science
                <p>Lincoln University, New Zealand</p>
                <p>2024</p>
            </li>
            
        </ul>

    </section>

    <section>
        <UL>
            <h1>Work Experience</h1>
            <li>
                <strong> Senior Support Worker</strong>
                <p>New Zealand</p>
                



            </li>



        </UL>


    </section>
   
    <h1>Work Experience</h1>
    <p>Senior Support Working</p>
    <p>Software Developer</p>
    <p>Rater Telus International</p>
    <p>Health Care Assistant</p>
    <p>Tech Support Specialist</p>

    <h1></h1>
    <p></p>

</body>
</html>