<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet"> #hybridarkearth

    <style>
        body {
          opacity: 0;
          transition: opacity 0.5s ease-in-out;
        }
      
        body.page-loaded {
          opacity: 1;
        }
      </style>      

    
</head>
<body>

<nav>
    <a href="/">Home</a> 
    <a href="/aboutme">About Me</a> 
    <a href="/contactinfo">Contact</a> 
    <a href="/portfolio">Portfolio</a>
</nav>
<hr>

<div class="content">
    {% block content %}
    <!-- Page content will go here -->
    {% endblock %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
      document.body.classList.add('page-loaded');
    });
  </script>
  
</body>
</html>
